body {
  background: #333;
  width: 70%;
  margin: auto;
  font-family: 'Lucida Sans', sans-serif;
}

.title{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.logo-img{
    border-radius: 50%;
    width: 20%;
    height: 5%;
    margin-right: 15px;
}

.title-txt{
   margin: 5px 0px;
}

.info{
    margin: 0%;
    font-size: small;
}

.cardapio-txt{
    font-size: 4rem;
    padding-left: 10%;
    color:#dfb910
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5rem;
  background-color: #faf8ec;
  background-image: url("https://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png");
}

.titulo-categoria {
  margin: 0;
  padding-bottom: 3px;
  border-bottom: 2px solid #41403e;
}

.grupo-items {
  display: grid;
  padding: 1.5em 0;
}

.item {
  display: flex;
  padding-top: 10px;
}

.item-img {
  width: 120px;
  height: 100px;
  margin-right: 1em;
}

.item-texto {
  flex-grow: 1;
}

.item-nome-preco {
  display: flex;
  justify-content: space-between;
}

.item-nome {
  margin-right: 1.5em;
}

p {
  font-size: 0.9rem;
  margin-top: 0;
}
